<ng-container *ngIf="data$ | async as data">
    <table mat-table [dataSource]="data.objects">
        <ng-container *ngFor="let columnId of data.header.columns">
            <mat-text-column
                [name]="columnId"
                [dataAccessor]="getDataValue"
                [headerText]="data.header.getDescription(columnId)"
            ></mat-text-column>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="data.header.columns"></tr>
        <tr mat-row *matRowDef="let row; columns: data.header.columns"></tr>
    </table>
</ng-container>
